<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/x-icon" href="images\favicon.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    >
    <link rel="stylesheet" type="text/css" href="stylesheets/work_experience.css"/>
  </head>
  <body>
    <!-- Hero Section -->
    <section id="hero" class="py-5">
      <div class="container text-center">
        <!-- Hero Content -->
        <div class="row align-items-center">
          <div class="col-md-6">
            <!-- Hero Image -->
            <div class="hero-image">
              <img src="images/placeholder-profile.jpg" alt="Professional Headshot" class="img-fluid">
            </div>
          </div>
          <div class="col-md-6">
            <!-- Hero Text -->
            <div id="heroContent" class="hero-text hero-content">
              <h1 class="hero-title">Software Developer</h1>
              <p class="hero-description">Crafting Innovative Code and Shaping Digital Solutions</p>
              <p class="hero-description">Unleashing Over 4 Years of Tech Mastery</p>
              <div>
                <p>
                  <b>Contact:</b>
                  <a href="https://linkedin.com/in/[your-profile]" target="_blank">Connect on LinkedIn</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Experience Section with Bootstrap Cards -->
    <section id="experience">
      <!-- The work experience content -->
      <div class="container mt-5">
        <div class="section-title">
          <h2>Work Experience</h2>
        </div>
        <div class="row">
          <div class="col-md-12">
            <!-- Card 1 -->
            <div class="card">
              <div class="card-header-custom card-pastel-rsr-red">
                <h4 class="card-title"><i class="fa-solid fa-gun"></i>
                  RSR Group, Inc. - Web Application Developer</h4>
                <p class="card-subtitle text-muted">September 2021 – April 2023</p>
              </div>
              <div class="card-body card-pastel-rsr-grey">
                <!-- Content for Work Experience 1 -->
                <ul class="card-text">
                  <li>Developed robust code utilizing Python 3 and the Django framework for internal web software and devised efficient Python scripts to enrich the development team’s code analytics.</li>
                  <li>Oversaw the optimization of the MySQL database, ensuring seamless data management.</li>
                  <li>Employed Atlassian's JIRA forstrategic planning, tracking and overall organization of software projects within a programming team.</li>
                  <li>Built and maintained custom business reports for internal staff to enhance decision making processes within the organization.</li>
                  <li>Created Python scripts to provide the development team with insights into code analytics.</li>
                  <li>Consistently pushed tested and secure code to RSR's internal GitLab repository, upholding the organization's high standards for code quality and timely execution of projects</li>
                  <li>Utilized Linux Terminal and Windows PowerShell to manage multiple databases.</li>
                </ul>
              </div>
            </div>
            <!-- End Card 1 --> <!-- Card 2 -->
            <div class="card">
              <div class="card-header-custom card-pastel-pn-cyan">
                <h4 class="card-title"><i class="fa-solid fa-syringe"></i>
                  PatientNow Reporting Team - Backend Developer Lead</h4>
                <p class="card-subtitle text-muted">April 2021 – September 2021</p>
              </div>
              <div class="card-body card-pastel-rsr-grey">
                <!-- Content for Work Experience 2 -->
                <ul class="card-text">
                  <li>Strategically harnessed the Sisense analytics platform to engineer complex SQL queries, driving multi-database reporting initiatives</li>
                  <li>Wrote efficient queries for a multi-database platform, optimizing data retrieval.</li>
                  <li>Conceived and executed the fusion of disparate databases into a unified federation, optimizing data accessibility for streamlined reporting.</li>
                  <li>Maintained seamless operation of a multi-node AWS Linux server, ensuring consistent Sisense functionality.</li>
                  <li>Designed effective and detailed reports tailored to diverse client needs.</li>
                  <li>Leveraged SQL techniquesto construct categorically organized data models, bolstering financial, marketing, and calendar functionalities.</li>
                  <li>Collaborated with the Sisense team to redesign and optimize inefficient data models.</li>
                  <li>Managed the implementation of the Sisense platform for PatientNow’s ETL solution.</li>
                  <li>Utilized Python to design and implement custom build schedules, guiding the revamping of inefficient data models to enhance system performance.</li>
                </ul>
              </div>
            </div>
            <!-- End Card 2 --> <!-- Card 3 -->
            <div class="card">
              <div class="card-header-custom card-pastel-pn-cyan">
                <h4 class="card-title"><i class="fa-solid fa-syringe"></i>
                  PatientNow - Software Developer</h4>
                <p class="card-subtitle text-muted">January 2021 – April 2021</p>
              </div>
              <div class="card-body card-pastel-rsr-grey">
                <!-- Content for Work Experience 3 -->
                <ul class="card-text">
                  <li>Produced secure Python scriptsto resolve complex data anomalies affecting business needs, elevating user experience and functionality</li>
                  <li>Collaborated closely with the support team to promptly identify, document, and addresssoftware bugs to meet business requirements.</li>
                  <li>Assumed a leadership role in triaging and assigning defect tickets, overseeing the resolution process within the maintenance team.</li>
                  <li>Continued enhancing the functionality and user experience of the Social Patient Center web software.</li>
                  <li>Performed seamless deployment of web serversfrom the AWS command center</li>
                  <li>Leveraged advanced Python and JavaScript to integrate PatientNow’s SaaS web software with third-party payment services, notably Bluefin</li>
                </ul>
              </div>
            </div>
            <!-- End Card 3 --> <!-- Card 4 -->
            <div class="card">
              <div class="card-header-custom card-pastel-ccdm-green">
                <h4 class="card-title"><i class="fa-solid fa-syringe"></i>
                  RX Marketing - Junior Software Developer</h4>
                <p class="card-subtitle text-muted">February 2019 – December 2020</p>

              </div>
              <div class="card-body card-pastel-rsr-grey">
                <!-- Content for Work Experience 4 -->
                <ul class="card-text">
                  <li>Drove the comprehensive design, deployment, troubleshooting, and optimization of RX Marketing’s Social Patient Center web software using the Django rest framework through streamlined API server calls.</li>
                  <li>Handled client-reported software bugs and story requests to
                    enhance S.P.C. retention.</li>
                  <li>Troubleshooted various client data errors by validating and altering defective database entries.</li>
                  <li>Pioneered the creation and implementation of an efficient Task Manager C.R.U.D. within the Social Patient Center ecosystem.</li>
                  <li>Administered and fine-tuned SQL and PostgreSQL databases, ensuring data integrity and optimal performance.</li>
                  <li>Followed and maintained strict HIPAA compliance rulesfor RX Marketing’s SaaS product.</li>
                  <li>Automated testing processes and proactively responded to software bugs and feature requeststo fortify client satisfaction and retention.</li>
                  <li>Provided tier 3 technical support for RX Marketing’s support staff to help alleviate client submitted tickets.</li>
                </ul>
              </div>
            </div>
            <!-- End Card 4 -->
          </div>
        </div>
      </div>
    </section>
    <!-- Skills Section with Tag Cloud -->
    <section id="skills" class="py-5">
      <!-- The skills content -->
      <div class="container mt-5">
        <div class="row">
          <div class="col">
            <!-- Skills Title -->
            <h2 class="section-title">Skills</h2>
          </div>
        </div>
        <div class="row skills-cloud">
          <!-- Skills Tag Cloud -->
          <a
            tabindex="0"
            data-toggle="popover"
            data-trigger="focus"
            class="skill-tag years-5"
            data-placement="top"
            data-content="4.5 years"
          >Python</a>
          <a
            tabindex="0"
            data-toggle="popover"
            data-trigger="focus"
            class="skill-tag years-5"
            data-placement="top"
            data-content="4.5 years"
          >Django</a>
          <a
            tabindex="0"
            data-toggle="popover"
            data-trigger="focus"
            class="skill-tag years-1"
            data-placement="top"
            data-content="1 year"
          >C</a>
          <a
            tabindex="0"
            data-toggle="popover"
            data-trigger="focus"
            class="skill-tag years-1"
            data-placement="top"
            data-content="1 year"
          >C++</a>
          <a
            tabindex="0"
            data-toggle="popover"
            data-trigger="focus"
            class="skill-tag years-1"
            data-placement="top"
            data-content="1 year"
          >Java</a>
          <a
            tabindex="0"
            data-toggle="popover"
            data-trigger="focus"
            class="skill-tag years-5"
            data-placement="top"
            data-content="5 years"
          >JavaScript</a>
          <a
            tabindex="0"
            data-toggle="popover"
            data-trigger="focus"
            class="skill-tag years-less-than-one"
            data-placement="top"
            data-content="< year"
          >Vue.js</a>
          <a
            tabindex="0"
            data-toggle="popover"
            data-trigger="focus"
            class="skill-tag years-less-than-one"
            data-placement="top"
            data-content="< year"
          >React</a>
          <a
            tabindex="0"
            data-toggle="popover"
            data-trigger="focus"
            class="skill-tag years-4"
            data-placement="top"
            data-content="4 years"
          >Linux</a>
          <a
            tabindex="0"
            data-toggle="popover"
            data-trigger="focus"
            class="skill-tag years-2"
            data-placement="top"
            data-content="2 years"
          >Docker</a>
          <a
            tabindex="0"
            data-toggle="popover"
            data-trigger="focus"
            class="skill-tag years-1"
            data-placement="top"
            data-content="1 year"
          >SQL</a>
          <a
            tabindex="0"
            data-toggle="popover"
            data-trigger="focus"
            class="skill-tag years-5"
            data-placement="top"
            data-content="5 years"
          >MySQL</a>
          <a
            tabindex="0"
            data-toggle="popover"
            data-trigger="focus"
            class="skill-tag years-2"
            data-placement="top"
            data-content="2 years"
          >PostgreSQL</a>
          <a
            tabindex="0"
            data-toggle="popover"
            data-trigger="focus"
            class="skill-tag years-1"
            data-placement="top"
            data-content="1 year"
          >SQL server</a>
          <a
            tabindex="0"
            data-toggle="popover"
            data-trigger="focus"
            class="skill-tag years-less-than-one"
            data-placement="top"
            data-content="< year"
          >MongoDB</a>
          <a
            tabindex="0"
            data-toggle="popover"
            data-trigger="focus"
            class="skill-tag years-4"
            data-placement="top"
            data-content="4 years"
          >GitHub</a>
          <a
            tabindex="0"
            data-toggle="popover"
            data-trigger="focus"
            class="skill-tag years-4"
            data-placement="top"
            data-content="4 years"
          >Django ORM</a>
          <a
            tabindex="0"
            data-toggle="popover"
            data-trigger="focus"
            class="skill-tag years-less-than-one"
            data-placement="top"
            data-content="< year"
          >Ruby</a>
          <a
            tabindex="0"
            data-toggle="popover"
            data-trigger="focus"
            class="skill-tag years-less-than-one"
            data-placement="top"
            data-content="< year"
          >Rails</a>
          <a
            tabindex="0"
            data-toggle="popover"
            data-trigger="focus"
            class="skill-tag years-less-than-one"
            data-placement="top"
            data-content="< year"
          >Sisense</a>
          <a
            tabindex="0"
            data-toggle="popover"
            data-trigger="focus"
            class="skill-tag years-4"
            data-placement="top"
            data-content="4 years"
          >Jira</a>
          <a
            tabindex="0"
            data-toggle="popover"
            data-trigger="focus"
            class="skill-tag years-1"
            data-placement="top"
            data-content="1 year"
          >Ctree</a>
          <a
            tabindex="0"
            data-toggle="popover"
            data-trigger="focus"
            class="skill-tag years-2"
            data-placement="top"
            data-content="2 years"
          >SaaS</a>
          <a
            tabindex="0"
            data-toggle="popover"
            data-trigger="focus"
            class="skill-tag years-less-than-one"
            data-placement="top"
            data-content="< year"
          >SQLite</a>
          <a
            tabindex="0"
            data-toggle="popover"
            data-trigger="focus"
            class="skill-tag years-1"
            data-placement="top"
            data-content="1 years"
          >Node.js</a>
          <a
            tabindex="0"
            data-toggle="popover"
            data-trigger="focus"
            class="skill-tag years-4"
            data-placement="top"
            data-content="4 years"
          >AGILE</a>
          <a
            tabindex="0"
            data-toggle="popover"
            data-trigger="focus"
            class="skill-tag years-2_5"
            data-placement="top"
            data-content="2.5 years"
          >Remote</a>
          <a
            tabindex="0"
            data-toggle="popover"
            data-trigger="focus"
            class="skill-tag years-4"
            data-placement="top"
            data-content="4 years"
          >PowerShell</a>
          <!-- Add more skill tags as needed -->
        </div>
      </div>
    </section>
    <!-- Education Section with Bootstrap Card -->
    <section id="education" class="py-5">
      <!-- The education content -->
      <div class="container mt-5">
        <div class="section-title">
          <h2>Education</h2>
        </div>
        <div class="row">
          <div class="col-md-12">
            <!-- Card 5 -->
            <div class="card">
              <div class="card-header-custom card-pastel-uf-orange">
                <h4 class="card-title"><i class="fa-solid fa-graduation-cap"></i>
                  University of Florida - Bachelor of Science in Computer
                  Engineering</h4>
                <p class="card-subtitle text-muted">May 2013 – December 2018</p>
              </div>
              <div class="card-body card-pastel-rsr-grey">
                <!-- Content for Education 1 -->
                <p class="card-text">
                  Graduated with a Bachelor of Science degree in Computer
                  Engineering.
                </p>
              </div>
            </div>
            <!-- End Card 5 -->
          </div>
        </div>
      </div>
    </section>
    <!-- Relevant Projects Section -->
    <section id="projects" class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <!-- Projects Title -->
            <h2 class="section-title">Relevant Projects</h2>
          </div>
        </div>
        <%# projects 1 and 2 %>
        <div class="row">
          <div class="col-md-12">
            <!-- Project Cards Grid -->
            <div class="card-deck">
              <!-- Project Card 1 -->
              <div class="card project-card mb-4">
                <div class="card-header-custom card-pastel-telegram-blue">
                  <!-- Project Title -->
                  <h4 class="card-title "><i class="fa-solid fa-dice-d20"></i>
                    Dice Roller Bot</h4>
                </div>
                <div class="card-body card-pastel-rsr-grey">
                  <!-- Project Description -->
                  <p class="card-text">
                    Created a dice roller bot using JavaScript, Node and
                    Telegram's web API. Users could type a slash command in a
                    Telegram chat and the bot would respond accordingly with a
                    random number from the selected dice.
                  </p>
                </div>
              </div>
              <!-- Project Card 2 -->
              <div class="card project-card mb-4">
                <div class="card-header-custom card-pastel-uf-blue">
                  <!-- Project Title -->
                  <h4 class="card-title"><i class="fa-solid fa-car-side"></i>
                    UF Parking Services website</h4>
                </div>
                <div class="card-body card-pastel-rsr-grey">
                  <!-- Project Description -->
                  <p class="card-text">
                    Used M.E.A.N stack (Mongo DB, Express, Angular and Node) to
                    create a web application for the University of Florida’s
                    Transportation and Parking department. The website featured
                    a live updated twitter feed as well as responsive user
                    feedback.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%# projects 3 and 4 %>
        <div class="row">
          <div class="col-md-12">
            <!-- Project Cards Grid -->
            <div class="card-deck">
              <!-- Project Card 3 -->
              <div class="card project-card mb-4">
                <div class="card-header-custom card-pastel-xbox-green">
                  <!-- Project Title -->
                  <h4 class="card-title "><i class="fa-solid fa-gamepad"></i>
                    Tic-Tac-Toe</h4>
                </div>
                <div class="card-body card-pastel-rsr-grey">
                  <!-- Project Description -->
                  <p class="card-text">
                    Wrote a simple Tic-Tac-Toe game with C++. The user plays
                    Tic-Tac-Toe against a random computer while using an Xbox
                    controller to execute commands. The user plays it in the
                    command prompt and when the player is done, they can exit
                    the program via the in game options.
                  </p>
                </div>
              </div>
              <!-- Project Card 4 -->
              <div class="card project-card mb-4">
                <div class="card-header-custom card-pastel-rsr-red">
                  <!-- Project Title -->
                  <h4 class="card-title"><i class="fa-solid fa-robot"></i>
                    Buddy Bots</h4>
                </div>
                <div class="card-body card-pastel-rsr-grey">
                  <!-- Project Description -->
                  <p class="card-text">
                    Worked on the Buddy Bots team to allow for easier entry
                    into the tech space for younger inexperienced developers.
                    Allowed developing programmers to create bots for the Doom
                    3 video game. Modified the existing C++ Id Tech 4 Engine to
                    accept python bot command and implemented python state
                    machine execution for automated game actors.
                  </p>
                </div>
              </div>
              <!-- Add more project cards as needed -->
            </div>
          </div>
        </div>
        <%# projects 5 and 6 %>
        <div class="row">
          <div class="col-md-12">
            <!-- Project Cards Grid -->
            <div class="card-deck">
              <!-- Project Card 5 -->
              <div class="card project-card mb-4">
                <div class="card-header-custom card-pastel-lighting-yellow">
                  <!-- Project Title -->
                  <h4 class="card-title "><i class="fa-solid fa-sun"></i>
                    FPGA Lighting simulations</h4>
                </div>
                <div class="card-body card-pastel-rsr-grey">
                  <!-- Project Description -->
                  <p class="card-text">
                    Collaborated with a professor in my Digital Design course at the 
                    University of Florida to research ray tracing using an FPGA. 
                    While the sponsoring company required an NDA, I can say that 
                    we were tasked with finding efficent methods to simulate light for 3D rendered scenes.
                  </p>
                </div>
              </div>
              <!-- Project Card 6 -->
              <div class="card project-card mb-4">
                <div class="card-header-custom card-pastel-website-purple">
                  <!-- Project Title -->
                  <h4 class="card-title"><i class="fa-solid fa-gem"></i>
                    Personal Website</h4>
                </div>
                <div class="card-body card-pastel-rsr-grey">
                  <!-- Project Description -->
                  <p class="card-text">
                    Embarked on a journey to discover Ruby on Rails, 
                    I crafted this personal portfolio website to showcase 
                    not just my resume but also the creative processes that drive my work. 
                    The site is built and automaticlly deployed by the Heroku cloud platform.
                  </p>
                </div>
              </div>
              <!-- Add more project cards as needed -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer -->
    <section class="footer">
      <div class="container text-center">
        <p>© 2024. Built with Ruby on Rails.</p>
      </div>
    </section>
    <section class="footer">
      <div class="container text-center">
        <p> 2023 Kyle Schneider. <br> This site was made with Ruby on Rails!</p>
      </div>
    </section>
    <!-- Link Bootstrap and JavaScript files -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="https://kit.fontawesome.com/31052dce3f.js" crossorigin="anonymous"></script>
    <script>
    $(document).ready(function() {
      $('[data-toggle="popover"]').popover();

      $('.popover-dismiss').popover({
        trigger: 'focus'
      })  

      function componentToHex(c) {
      var hex = c.toString(16);
      return hex.length == 1 ? "0" + hex : hex;
    }

      function rgbToHex(r, g, b) {
        return "#" + componentToHex(r) + componentToHex(g) + componentToHex(b);
      }

      $(".skill-tag").hover(function(e) {
        let original_background_color_rgb = $( this ).css( "background-color" );
        let [r,g,b] = original_background_color_rgb.replace(
          '(', "").replace(
          ')', "").replace(
          'rgb', "").replace(
          ' ', "").replace(
          ' ', "").trim().split(',')

        let inverted_background_color_hex = rgbToHex(255 - parseInt(r),255 - parseInt(g),255 - parseInt(b));
        $( this ).css( "background-color", inverted_background_color_hex);

      });

      // Copy button click event
      $(".copy-button").on('click', function (e) {
        e.preventDefault()
        let tempInput = document.createElement('textarea');
        let whichCopy = ($( this ).attr('class')).replace('copy-button', '').replace('fas fa-clipboard', '').trim();
        
        switch (whichCopy) {
          case "pn-copy":
            tempInput.value = "407-460-9962";
            break;

          case "email-copy":
            tempInput.value = "kylejschneider@outlook.com";
            break;

          default:
            tempInput.value = "";
        }

        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand('copy');
        document.body.removeChild(tempInput);
        let alert = document.getElementById('alert');
        let heroContent = document.getElementById('heroContent');

        heroContent.animate({
                height: "500px", 
                  }, 1500 );
        
        alert.style.opacity = '1';

        heroContent.animate({
                height: "300px", 
                  }, 1500 );

        setTimeout(function() {
          alert.style.opacity = '0';
        }, 1000);  
      });
    });
    </script>
  </body>
</html>


# Python: 4.5 years
# Django 4.5 years
# C: 1 year
# C++: 1 year
# Java: 1 Year
# JavaScript: 5 years
# Vue.js : .5 year
# React: .5 year
# Linux: 4 years
# Docker: 2 years
# SQL: 1 year
# MySQL: 4.5 years
# PostgreSQL: 2 years
# SQL server: 1 year
# MongoDB: .5 year
# GitHub: 4 years
# Django ORM: 4.5 years
# Ruby: .1 years
# Rails: .1 years
# Sisense: .5 year
# Jira: 4.5 years
# Ctree: 1 year
# SaaS: 2 years
# SQLite: .1 year
# Node.js: 1 year
# AGILE: 4.5 years
# PowerShell 3 years
# Remote: 2.5 years 


/* RSRGROUP COLORS
#d11b20
#ebeaea */

/* RSRGROUP COLORS PASTEL
#f08c8e
#f1f0ef */

/* PATIENTNOW COLORS
#32b8c8
#192552 */

/* PATIENTNOW COLORS PASTEL
#9fdbe5
#a3b2c1 */

/* CCDM COLORS
#49b69a
#2b3072 */

/* CCDM COLORS PASTEL
#a6d4c5
#b9bdd0 */

/* UF COLORS
#FA4616
#0021A5 */

  /* UF COLORS PASTEL
#fba78b
#8c9bc7 */ %>
